
.BottomNav{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    justify-content: space-around;
    background-color: rgb(218, 218, 225);
    border-radius: 0.4rem;
}
    

.Content a{
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 1vh;
}

a:link {
    text-decoration: none;
}

.Content svg{
    display: flex;
    justify-content: center;
    color:black;
    font-size: 4vw;
    
}

.Content button.MuiIconButton-root{
    padding:0px;
}

.Content button{
    outline: none;
}

.Content span{
    justify-content: center;
    display: flex;
    color: black;
    font-size: 10px;
}